{% load static i18n wagtailcore_tags wagtailuserbar %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE }}>
    <head>
        {% include "head.html" %}
        {% block extra_css %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header></header>
        {% block content %}{% endblock %}
        <footer></footer>
        {% include "script.html" %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
